<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body class="d-flex flex-column h-100">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-item nav-link" })
                    @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-item nav-link" })
                    @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-item nav-link" })
                </ul>
                <ul class="nav navbar-nav pull-right">
                    @Html.ActionLink("Sign In", "Index", "SignIn", null, new { @class = "nav-item nav-link" })
                    @Html.ActionLink("Sign Up", "Index", "SignUp", null, new { @class = "nav-item nav-link" })
                </ul>
            </div>
        </div>
    </nav>

    <main class="container flex-grow-1 py-4 h-100">
        @RenderBody()
    </main>

    <footer class="container py-3">
        <hr />
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
